ENVIRONMENT="Development"
TLS_CRT="/app/your_crt.crt"
TLS_KEY="/app/your_crt_key.key"

KONEKSI_DB="Server=your_db_server;Database=your_db_name;User Id=your_sql_server_username;Password=your_sql_server_password;Encrypt=False;Trust Server Certificate=False;"
DB_NAME="your_db_name"
DB_PASSWORD="your_sql_server_password"

PY_DATABASE_URI="DRIVER={ODBC Driver 18 for SQL Server};SERVER=your_db_server;DATABASE=your_db_name;UID=your_sql_server_username;PWD=your_sql_server_password;Encrypt=no"
STORAGE_URI="https://tanilink-backend/"
PREDICTION_API="http://tanilink-ml/"

MAILTRAP="your_mailtrap_key"
JWT_KEY="your_jwt_key"
JWT_ISSUER="your_jwt_issuer"
JWT_AUDIENCE="your_jwt_audience"
JWT_DURATION_IN_DAY="your_jwt_expiration"