@{
    ViewData["Title"] = "Home Page";
}

 <style>
    body {
        margin: auto;
        font-family: Arial, sans-serif;
        padding-bottom: 40px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        text-align: justify;
    }
</style>

<body>
    <h1 style="text-align: center;">TaniLink</h1>
    <h3 style="text-align: center;">Cultivating Prosperity for Indonesian Farmers</h3>
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/tanilink.png" alt="TaniLink Logo" style="display: block; margin: auto;">

    <h2>Project Description</h2>
    <p>Indonesia, despite having a rich agricultural history, is facing significant challenges in its agricultural sector. The sector's income disparities, especially in urban areas, threaten the country's agrarian identity, despite having a significant number of farmers. The backbone of the country, farmers, face various economic difficulties, including unfair pricing and unfavourable public perception. To tackle this issue, we suggest implementing the TaniLink platform, which incorporates technology to offer direct connections between buyers and sellers, as well as pricing information. By modernizing the conventional farming system, this initiative aims to improve the welfare of the farming community and ensure fair product pricing.</p>

    <h2>Project Tech Stack</h2>
    <p><b>Machine Learning:</b> TensorFlow, NumPy, Pandas, Google Colab, Git and GitHub, FastAPI</p>
    <p><b>Cloud Computing:</b> Visual Studio, Postman, gRPC, SignalR, .NET Core 8, Entity Framework, Identity Framework, ML.NET, Microsoft SQL Server, Compute Engine, Cloud Storage (Firebase)</p>
    <p><b>Mobile Development:</b> Android Studio, Emulator Android, Postman, Glide, Retrofit, Room, Vico extensible Chart, Material Design 3, gRPC client, Firebase client, Hawk Session Manager</p>

    <h2>Project Teams</h2>
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/our-team.jpg" alt="Project Teams" style="display: block; margin: auto;">

    <h2>Project Preview</h2>
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/preview1.jpg" alt="Preview 1" width="180" height="400">
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/preview2.jpg" alt="Preview 2" width="180" height="400">
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/preview3.jpg" alt="Preview 3" width="180" height="400">
    <img src="https://raw.githubusercontent.com/Topi-Batu/.github/main/profile/assets/preview4.jpg" alt="Preview 4" width="180" height="400">

    <h2>Accessible Project App</h2>
    <p><b>Machine Learning:</b> <a href="https://tanilink-ml.bantuin.me/docs">Machine Learning API</a></p>
    <p><b>Cloud Computing:</b> <a href="https://tanilink.bantuin.me/">Cloud Computing API</a></p>
    <p><b>Mobile Development:</b> <a href="https://github.com/Topi-Batu/tanilink-mobile/releases">Mobile Development App</a></p>

    <h2>Documentation Project App</h2>
    <p><b>Machine Learning:</b> <a href="https://github.com/Topi-Batu/TaniLink-ML-Model">Machine Learning Documentation</a></p>
    <p><b>Cloud Computing:</b> <a href="https://github.com/Topi-Batu/TaniLink_Backend">Cloud Computing Documentation</a></p>
    <p><b>Mobile Development:</b> <a href="https://github.com/Topi-Batu/tanilink-mobile">Mobile Development Documentation</a></p>
</body>
